body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13px;
    padding-top: 50px;
    text-align: justify;
}

.versionB{
    border: 10px solid #687291;
    border-radius: 15px;
    padding: 20px;
}

.versionA{
    visibility: hidden;
    display:none;
}

table {
    font-size: 13px;
    font-family: Tahoma, sans-serif;
    border-collapse: collapse;
    width: 100%;
    /* border: 10px solid #687291;
    padding: 20px; */
 
}
thead {
    background-color: #FFFFFF;
    color: #000000;
    font-weight: bold;
}

tfoot {
    border-top: 2px solid #000000;
    background-color: #FFFFFF;
    color: #000000;
    font-weight: bold;
}

table, th, td {
    padding: 3px;
}

input{
    width: 25%;
}

tbody > td{padding: 8px}


